# **Problem statement 4**

Perform the following operations using Python
1. Scan all numeric variables for outliers. If there are outliers, use the following techniques to
deal with them. a)min max normalization b)z-score normalization c)Box plot

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load your dataset (assuming it is stored in a DataFrame called 'df')
df = sns.load_dataset("titanic")

# Identify numeric variables in the dataset
numeric_variables = df.select_dtypes(include=['int', 'float']).columns.tolist()

# Scan numeric variables for outliers using box plots
for var in numeric_variables:
    # Create a box plot for the variable
    sns.boxplot(x=df[var])
    plt.title(f'Box Plot for {var}')
    plt.show()

    # Identify outliers based on the box plot
    q1 = df[var].quantile(0.25)
    q3 = df[var].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr

    # Handle outliers using different techniques
    # a) Min-max normalization
    df[var + '_minmax'] = (df[var] - df[var].min()) / (df[var].max() - df[var].min())

    # b) Z-score normalization
    df[var + '_zscore'] = (df[var] - df[var].mean()) / df[var].std()

    # c) Remove outliers
    df[var + '_no_outliers'] = df[var][(df[var] >= lower_bound) & (df[var] <= upper_bound)]

    # Display the modified variables
    print(f"Min-max normalized {var}:")
    print(df[var + '_minmax'])
    print()

    print(f"Z-score normalized {var}:")
    print(df[var + '_zscore'])
    print()

    print(f"{var} without outliers:")
    print(df[var + '_no_outliers'])
    print()

In [ ]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,...,age_no_outliers,sibsp_minmax,sibsp_zscore,sibsp_no_outliers,parch_minmax,parch_zscore,parch_no_outliers,fare_minmax,fare_zscore,fare_no_outliers
0,0,3,male,22.0,1,0,7.2500,S,Third,man,...,22.0,0.125,0.432550,1.0,0.000000,-0.473408,0.0,0.014151,-0.502163,7.250
1,1,1,female,38.0,1,0,71.2833,C,First,woman,...,38.0,0.125,0.432550,1.0,0.000000,-0.473408,0.0,0.139136,0.786404,NaN
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,...,26.0,0.000,-0.474279,0.0,0.000000,-0.473408,0.0,0.015469,-0.488580,7.925
3,1,1,female,35.0,1,0,53.1000,S,First,woman,...,35.0,0.125,0.432550,1.0,0.000000,-0.473408,0.0,0.103644,0.420494,53.100
4,0,3,male,35.0,0,0,8.0500,S,Third,man,...,35.0,0.000,-0.474279,0.0,0.000000,-0.473408,0.0,0.015713,-0.486064,8.050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,...,27.0,0.000,-0.474279,0.0,0.000000,-0.473408,0.0,0.025374,-0.386454,13.000
887,1,1,female,19.0,0,0,30.0000,S,First,woman,...,19.0,0.000,-0.474279,0.0,0.000000,-0.473408,0.0,0.058556,-0.044356,30.000
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,...,NaN,0.125,0.432550,1.0,0.333333,2.007806,NaN,0.045771,-0.176164,23.450
889,1,1,male,26.0,0,0,30.0000,C,First,man,...,26.0,0.000,-0.474279,0.0,0.000000,-0.473408,0.0,0.058556,-0.044356,30.000
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,...,32.0,0.000,-0.474279,0.0,0.000000,-0.473408,0.0,0.015127,-0.492101,7.750